.content {
  margin: 0 auto 66px;
  color: #FFFFFF;
  min-height: 1112px;
}

@media screen and (max-width: 890px) {
  .content {
    width: calc(100% - 2 * 19px);
  }
}

@media screen and (max-width: 675px) {
  .content {
    margin: 0 auto 48px;
  }
}
